.gift-info {
  text-transform: uppercase;
  color: var(--clr-primary-3);
}
.gift-info {
  color: var(--clr-grey-6);
}
.date {
  color: var(--clr-grey-5);
  font-size: 0.85rem;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
}
.gift-info {
  margin: 2rem 0;
}
.deadline {
  display: flex;
}
.deadline-format {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
